﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="dotNetPage.aspx.cs" Inherits="Oliver_Wight.dotNetPage" %>

<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>    
</head>
<body class="REPORTBODY">
    <form id="form1" runat="server">
    <div>    
    </div>
    </form>

</body>
</html>
